<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <appSettings>
    <add key="AdminPassword" value="toto"/>
  </appSettings>

  <connectionStrings>
    <add name="LSMEmprunts" connectionString="Data Source=C:\Users\adeba\source\repos\LSMEmprunts\LSMEmprunts\LSMEmprunts.db"/>
  </connectionStrings>
</configuration>